@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif; */
}

.marquee-container {
  position: relative;
  display: flex;
  /* justify-content: flex-start; */
  overflow: hidden;
}


.marquee-content {
  display: inline-flex;
  gap: 4rem; /* Adjust gap between items */
  animation: scroll 20s linear infinite; /* Adjust duration for desired speed */
}

.marquee-text {
  white-space: nowrap;
  /* padding: 0 6rem;
  letter-spacing: 1px;
  animation: scroll 4000ms linear infinite; */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
